<a href="https://colab.research.google.com/github/Jitendrasharma101/My-Data-science-journey-/blob/main/Class_Methods%2C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
class student:
  def __init__(self,name,rollno,libraryid,address):
    self.name=name
    self.rollno=rollno
    self.libraryid=libraryid
    self.address=address
  def studentdetails(self):
    print(self.name,self.rollno,self.libraryid,self.address,sep="\n")

  @staticmethod
  def printage(age):
    print("Age of Student is",age)

s1=student("jitendra Sharma",2000331550045,230304034034,"Vill. Rahatpur Post-mai District-Aligarh")

s1.studentdetails()     
s1.printage(23)

jitendra Sharma
2000331550045
230304034034
Vill. Rahatpur Post-mai District-Aligarh
Age of Student is 23